@import "tailwindcss";

@theme {
  --color-sfu-red: #c2273b;
  --color-sfu-dark: #3b0c1e;
  --color-background-alt: #181818;
  --color-background-dark: #121212;

  --font-sans: Lexend, system-ui, sans-serif;
}

:root {
  color-scheme: dark;
}

.btn {
  @apply bg-sfu-red flex w-full cursor-pointer select-none items-center justify-between gap-1 rounded px-4 py-3 text-sm font-bold uppercase tracking-widest text-white transition-all hover:scale-105 hover:brightness-110 active:scale-100;
}
.btn-secondary {
  @apply text-sfu-red border-sfu-red/20 hover:bg-sfu-red/10 flex w-full cursor-pointer select-none rounded border px-4 py-3 text-sm font-bold uppercase tracking-widest transition-all;
}
